*{
    padding: 0;
    margin: 0;
    font-family: "Arimo", sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.nav-bg{
    background-color: rgb(243, 255, 254);
   padding:3px 0;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list-item{
    display: flex;
    list-style: none;
    
}
.nav-list-item li a{
    text-decoration: none;
       padding: 0 8px;
}
.btn{
    background: linear-gradient(135deg, #00e5ff, #00bcd4);
    padding: 8px 7px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.banner-container {
    position: relative;
}

.banner-image img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    filter: brightness(60%);
    display: block;
}

.banner-title {
    position: absolute;
    inset: 0;          
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    color: white;
}

.banner-title h1 {
    font-size: 52px;   
}

.banner-title p {
     margin: 24px 0;
     font-size: 15px;
}
.middle-heading{
    font-style: italic;
}